<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание подписки</title>
</head>
<body>
    <a th:href="@{/home}">Главная</a>
    <a th:href="@{/search}">Поиск</a>
    <a th:href="@{/profile}">Профиль</a>
    <h2>Новое объявление</h2>
    <form th:action="@{/subscriptions/new}" th:object="${createSubscriptionRequest}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label th:for="${#ids.next('name')}">Название</label></td>
                <td><input type="text" th:field="*{name}"></td>
                <td><label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></label></td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('categories')}">Категории</label></td>
                <td>
                    <table><tr style="vertical-align: baseline">
                        <td th:each="group : ${allCategories}">
                            <table>
                                <thead><tr><td>
                                    <label th:text="${group.name}" th:title="${group.description}"></label>
                                </td></tr></thead>
                                <tbody>
                                <tr th:each="category : ${group.categories}">
                                    <td>
                                        <input type="checkbox" th:field="*{categories}" th:value="${category.name}"/>
                                        <label th:for="${#ids.prev('categories')}" th:text="${category.name}" th:title="${category.description}"></label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr></table>
                </td>
                <td><label th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}" style="color: red"></label></td>
            </tr>
        </table>
        <input type="submit" value="Создать">
    </form>
</body>
</html>