<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание подписки</title>
</head>
<body>
    <a th:href="@{/home}">Главная</a>
    <a th:href="@{/search}">Поиск</a>
    <a th:href="@{/profile}">Профиль</a>
    <h2>Новое объявление</h2>
    <form th:action="@{/subscriptions/new}" th:object="${createSubscriptionRequest}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label th:for="${#ids.next('name')}">Название</label></td>
                <td><input type="text" th:field="*{name}"></td>
                <td><label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></label></td>
            </tr>
            <tr>
                <td><label th:for="${#ids.next('categories')}">Категории</label></td>
                <td>
                    <table>
                        <tr th:each="category : ${allCategories}">
                            <td>
                                <input type="checkbox" th:field="*{categories}" th:value="${category.name}"/>
                                <label th:for="${#ids.prev('categories')}" th:text="${category.name}" th:title="${category.description}"></label>
                            </td>
                            <td>
                                <label th:text="${category.groupName}" th:title="${category.groupDescription}"></label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td><label th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}" style="color: red"></label></td>
            </tr>
        </table>
        <input type="submit" value="Создать">
    </form>
</body>
</html>